.controls-top {
    margin-bottom: 5px;
    display: inline-block;
  }
  .controls-top-element {
    float: left;
    width: 70px;
    margin: 0 5px;
    position: relative;
  
  }
  .controls-top-button {
    background-color: rgb(0, 12, 96, 0.5);
    font-size: 11px;
    padding: 3px;
    width: 100%;
    border: grey 1px solid;
    height: 35px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
  .controls-top-img--roku {
    width: 40px;
    position: absolute;
    left: 15px;
    top: -3px;
  }
    .controls-top-img--telecable {
    width: 50px;
    position: absolute;
    left: 10px;
    top: -7px;
  }
  .controls-top-button--img {
    background-color: transparent;
    border: none;
  }
  .controls-top-img--no-button {
    width: 30px;
  }
  .controls-top-img--button {
    width: 20px;
    margin-top: 5px;
  }
  button.controls-top-button:active {
    background-color: white;
    transition: background-color 0.1s;
  }
  .controls-top-button--on {
    border: white 1px solid;
  }
