.options {
    position: relative;
  }
  .options-row {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 10px);
  }
  .options-element {
    display: inline-block;
    left: 0;
  }
  .options-button {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
  }
  .options-button--img {
    background-color: transparent;
    border: none;
  }
  .options-img--button {
    width: 15px;
  }
  
