.options {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .options-row {
  }
  .options-element {
    display: inline-block;
    left: 0;
  }
  .options-button {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 4vh;
    user-select: none;
    -webkit-user-select: none;
  }
  .options-button--img {
    background-color: transparent;
    border: none;
  }
  .options-img--button {
    width: 1.5vh;
  }
  
