.options {
    display: inline-block;
  }
  .options-row {
    display: inline-block;
  }
  .options-element {
    display: inline-block;
    margin: 10px 0 0px;
    width: 70px;
    left: 0;
  }
  .options-button {
    background-color: transparent;
    width: 100%;
    border: none;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
  }
  .options-button--img {
    background-color: transparent;
    border: none;
  }
  .options-img--button {
    width: 20px;
  }
  
