.dev {
  display: inline-block;
}

.dev-row {
  display: inline-block;
}

.dev-element {
  display: inline-block;
  margin: 5px 0 10px;
  position: absolute;
  width: 70px;
  left: 50%;
  top: 16.8vh;
}

.dev-element--send {
  margin-left: -115px;
}

.dev-element--leader {
  margin-left: 45px;
}

.dev-element--wifi {
  margin-left: -115px;
  margin-top: 12vh;
}

.dev-element--network {
  margin-left: 45px;
  margin-top: 12vh;
}

.dev-button {
  background-color: rgb(0, 44, 16, 0.8);
  font-size: 10px;
  padding: 3px;
  width: 100%;
  border: gray 1px solid;
  height: 4vh;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}

button.dev-button:active {
  background-color: white;
  transition: background-color 0.1s;
}

.dev-button--on {
  border: yellow 1px solid;
}