.controls-search {
  display: inline-block;
  margin: 5px 0 10px;
}
.controls-search-row {
  width: 230px;
  margin: 0 auto;
  height: 25px;
}
.controls-search-input-wrapper {
  float: left;
  width: 150px;
  height: 100%;
}
.controls-search-input {
  color: #fff;
  height: 100%;
  border: none;
  box-shadow: inset 0 0 0 1px gray;
  border-radius: 5px;
  background-color: rgb(71, 3, 3, 0.8);
  padding: 0 5px;
  width: 100%;
}
.controls-search-button-wrapper {
  float: right;
  width: 70px;
  height: 100%;
}
.controls-search-button {
  color: #fff;
  height: 100%;
  border: grey 1px solid;
  border-radius: 5px;
  background-color: rgb(71, 3, 3, 0.8);
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.controls-search-mode {
    position: absolute;
    width: 230px;
    padding: 2px 0;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
}
.controls-search-mode span {
    color: white;
    width: 100%;
    font-size: 12px;
}
.controls-search-mode--visible {
    opacity: 1;
}
