.controls-arrows {
    margin: 0 10px 20px;
    display: inline-block;
  }
  .controls-arrows-row {
    display: inline-block;
  }
  .controls-arrows-row--one {
    margin: 0 20%;
  }
  .controls-arrows-element {
    float: left;
    width: 70px;
    margin: 5px;
  
  }
  .controls-arrows-button {
    background-color: rgb(0, 44, 16, 0.6);
    font-size: 11px;
    padding: 3px;
    width: 100%;
    border: grey 1px solid;
    height: 40px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
  button.controls-arrows-button:active {
    background-color: white;
    transition: background-color 0.1s;
  }
  .controls-arrows-button--on {
    border: white 1px solid;
  }
