.controls-channels {
    margin: 0 10px 0;
    display: inline-block;
  }
  .controls-channels-row {
    width: 350px;
    display: inline-block;
  }
  .controls-channels-element {
    float: left;
    width: 40%;
  }
  .controls-channels-element--img {
    width: 20%;
  }
  .controls-channels-element--left {
    float: left;
  }
  .controls-channels-element--right {
    float: right;
  }
  .controls-channels-img {
    width: 50px;
  }
  .controls-channels-elements-button {
      color: white;
      text-align: center;
      margin: 5px 0;
  }
    .controls-channels-elements-paragraph--button {
      margin: 15px 0;
  }
