.controls-channels {
    margin: 0 0 10px;
    display: inline-block;
  }
  .controls-channels-row {
    width: 350px;
    display: inline-block;
  }
  .controls-channels-element {
    float: left;
    width: 40%;
  }
  .controls-channels-element--img {
    width: 20%;
    position: relative;
    margin-top: 12px;
  }
  .controls-channels-element--left {
    float: left;
  }
  .controls-channels-element--right {
    float: right;
  }
  .controls-channels-img {
    margin: 0;
    width: 50px;
    left: 10px;
    top: -7px;
    position: absolute;
  }
  .controls-channels-elements-button {
    color: white;
    text-align: center;
    margin: 5.4px 0;
    border: none;
    background: transparent;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    padding: 3.4px 5px;
  }
  button.controls-channels-element-button:active {
    background-color: white;
    transition: background-color 0.1s;
  }
  .controls-channels-categories {
    display: inline-block;
    margin: 0 10px;
    height: 157px;
  }
  .controls-channels-category {
    height: 50px;
    padding: 0 10px;
    list-style-type: none;         /* Tamaño del ícono */
    display: flex;
    align-items: center;
  }
  .controls-channels-categories-ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;            /* Permite que los íconos pasen a otra fila */
    justify-content: center;    /* Centra horizontalmente los íconos */        /* Quita los puntos de la lista */
    margin: 0;
  }
  .controls-channels-category-img {
    width: 30px;
  }
