.controls-channels {
  height: 210px;
  margin: 5px 0;
  position: relative;
}
.controls-channels-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.controls-channels-row {
  width: 240px;
}
.controls-channels-row--top {
  height: 35px;
  margin-bottom: 5px;
}
.controls-channels-row--middle {
  height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.controls-channels-row--bottom {
  height: 35px;
  margin-top: 5px;
}
.controls-channels-element {
  float: left;
  width: 70px;
  margin: 0 5px;

}
.controls-channels-element--img {
  position: relative;
}
.controls-channels-element--left {
  float: left;
}
.controls-channels-element--right {
  float: right;
}
.controls-channels-img {
  margin: 0;
  width: 35px;
}
.controls-channels-elements-button {
  color: white;
  background-color: rgb(71, 3, 3, 0.8);
  text-align: center;
  border: gray 1px solid;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  padding: 6px 5px;
  font-size: 12px;
  width: 100%;
  height: 35px;
}
button.controls-channels-element-button:active {
  background-color: white;
  transition: background-color 0.1s;
}

