.controls-apps-youtube--channel {
    margin-top: 1vh;
}

.controls-apps-youtube-li-channel {
    position: relative;
    padding: 0 2px 2px;
    list-style-type: none;
}

.controls-apps-youtube-video-edit {
    background: transparent;
    border: none;
    padding: 0;
    margin-top: 1px;
}

.controls-apps-youtube-video-edit-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.controls-apps-youtube-video-edit-title {
    padding: 0;
    margin: 0;
    font-size: 12px;
    padding: 5px;
}

.controls-apps-youtube-video-edit-img {
    width: 2vh;
}