.devices {
  height: 15vh;
  position: fixed;
  bottom: 5vh;
  width: 80vw;
  overflow-y: scroll;
  padding-left: 10vw;
}

.devices-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 0;
}

.devices-row {
  display: inline-block;
  padding: 0 40px;
}

.devices-element {
  float: left;
  margin: 1vh;
}

.devices-button {
  background-color: transparent;
  width: 100%;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
}

button.devices-button:active {
  background-color: white;
  transition: background-color 0.1s;
}

.devices-button--on .devices-led {
  background-color: #39FF14;
  width: 5px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;
  position: absolute;
  transform: translate(14px, 0);
}

.devices-button-img {
  width: 35px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -webkit-touch-callout: none;
  /* iOS Safari */
  user-select: none;
  pointer-events: none;
}