.devices {
  margin: 30px;
}
.devices-row {
  display: inline-block;
}
.devices-element {
  float: left;
  width: 16%;
  margin: 2%;

}
.devices-button {
  padding: 5px;
  width: 100%;
  border: transparent 2px solid;
}
.devices-button--on {
  border: green 2px solid;
}
  