.devices {
  margin: 10px 10px 0;
  display: inline-block;
}
.devices-row {
  display: inline-block;
}
.devices-element {
  float: left;
  width: 35px;
  height: 35px;
  margin: 10px;

}
.devices-button {
  background-color: transparent;
  width: 100%;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  padding: 0;
}
button.devices-button:active {
  background-color: white;
  transition: background-color 0.1s;
}
.devices-button--on .devices-led {
  background-color: #39FF14;
  width: 30px;
  height: 5px;
  margin: 0 auto;
  border-radius: 10px;  
}

.devices-button-img {
  width: 35px;
}

