.screens {
  margin: 0 10px;
  display: inline-block;
}
.screens-row {
  display: inline-block;
}
.screens-element {
  float: left;
  width: 70px;
  margin: 5px;

}
.screens-button {
  background-color: rgb(71, 3, 3, 0.6) ;
  font-size: 11px;
  padding: 3px;
  width: 100%;
  border: gray 1px solid;
  height: 35px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  opacity: 1;
}
button.screens-button:active {
  background-color: white;
  transition: background-color 0.1s;
}
.screens-button--on {
  border: #39FF14 1px solid;
  background-color: rgb(71, 3, 3);
}
