.screens {
  margin: 10px;
  display: inline-block;
}
.screens-row {
  display: inline-block;
}
.screens-element {
  float: left;
  width: 70px;
  margin: 5px;

}
.screens-button {
  font-size: 11px;
  padding: 3px;
  width: 100%;
  border: transparent 3px solid;
  height: 40px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}
button.screens-button:active {
  background-color: green;
  transition: background-color 0.1s;
}
.screens-button--on {
  border: green 2px solid;
}
