.controls-toolbar {
  height: 7vh;
  width: 240px;
  margin: 1vh auto 0;
}

.controls-toolbar-row {
  width: 240px;
  display: inline-block;
  position: relative;
}

.controls-toolbar-row--mute {
  height: 20px;
}

.controls-toolbar-element {
  float: left;
  width: 70px;
  margin: 0 5px;
}

.controls-toolbar-element--mute {
  margin-top: -2px;
}

.controls-toolbar-element--mute-icon {
  margin-top: -8px;
}

.controls-toolbar-element--left {
  float: left;
}

.controls-toolbar-element--right {
  float: right;
}

.controls-toolbar-button {
  background-color: rgb(0, 12, 96, 0.5);
  font-size: 15px;
  padding: 3px;
  width: 100%;
  border: grey 1px solid;
  height: 4vh;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  position: relative;
}

.controls-toolbar-button--connected {
  border: #ffffffbd 1px solid;
  box-shadow: 0px 0px 5px #00FF00;
}

.controls-toolbar-button--img {
  background-color: transparent;
  border: none;
}

.controls-toolbar-img--no-button {
  width: 30px;
}

.controls-toolbar-img--button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 2vh;
  margin: auto;
}

.controls-toolbar-span {
  color: white
}

button.controls-toolbar-button:active {
  background-color: white;
  transition: background-color 0.1s;
}

/* ProgressBar.css */
.controls-toolbar-row-wrapper {
  display: flex;
}

.controls-toolbar-progress-bar-container {
  width: 100%;
  padding: 10px 5px 0;
  min-width: 0;
}

.controls-toolbar-progress-bar-track {
  width: 100%;
  height: 6px;
  /* Set a height for visibility */
  background-color: #e0e0e0;
  /* Light background for the track */
  border-radius: 15px;
  overflow: hidden;
  /* Important for clean corners */
}

.controls-toolbar-progress-bar-fill {
  height: 100%;
  /* Start at 0, React will override this via the 'style' prop */
  width: 0;
  background-color: #4CAF50;
  /* Green fill color */

  /* Smooth animation as the width changes */
  transition: width 0.4s ease-in-out;
}

.controls-toolbar-progress-bar-label {
  display: block;
  margin-top: 3px;
  font-family: sans-serif;
  color: white;
  font-size: 12px;
  text-align: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.controls-toolbar-progress-bar-marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.controls-toolbar-progress-bar-label-title {
  font-weight: bold;
}

.controls-toolbar-progress-bar-label-duration {
  margin-left: 5px;
  font-weight: bold;
}

.controls-toolbar-playlist {
  float: right;
  display: flex;
}

.controls-toolbar-playlist-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 5px;
}

.controls-toolbar-playlist-liz {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 10px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}