.controls-toolbar {
    display: inline-block;
    margin-bottom: 5px;
  }
  .controls-toolbar-row {
    width: 240px;
  }
  .controls-toolbar-row--mute {
    height: 20px;
  }
  .controls-toolbar-element {
    float: left;
    width: 70px;
    margin: 0 5px;
  }
  .controls-toolbar-element--mute {
    margin-top: -2px;
  }
  .controls-toolbar-element--mute-icon {
    margin-top: -8px;
  }
  .controls-toolbar-element--left {
    float: left;
  }
  .controls-toolbar-element--right {
    float: right;
  }
  .controls-toolbar-button {
    background-color: rgb(0, 12, 96, 0.5);
    font-size: 15px;
    padding: 3px;
    width: 100%;
    border: grey 1px solid;
    height: 30px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
  .controls-toolbar-button--img {
    background-color: transparent;
    border: none;
  }
  .controls-toolbar-img--no-button {
    width: 30px;
  }
  .controls-toolbar-img--button {
    width: 17px;
    margin-top: 3px;
  }
  .controls-toolbar-span {
      color: white
  }
  button.controls-toolbar-button:active {
    background-color: white;
    transition: background-color 0.1s;
  }
  
