.controls {
  margin: 5px 0;
  opacity: 0;
  transition: opacity 1s ease 0.5s;
}
.controls-toolbar-apps {
  height: 150px;
  margin: 5px 0;
  position: relative;
}
.controls-toolbar-apps-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}