.main {
  height: 100vh;
  width: 100vw;
}

.main-dark {
  background-color: black;
}

.main-light {
  background: radial-gradient(ellipse, black 0%, #444 40%, #ccc 100%);
}

.main-blue {
  background: radial-gradient(ellipse, #000059 0%, #733C85 40%, #BDBDFF 100%);
}

.main-red {
  background: radial-gradient(ellipse, #00223D 0%, #00537A 40%, #9ADBF9 100%);
}

.main-green {
  background: radial-gradient(circle, #2C003E 0%, #662E9B 65%, #E2C2FF 100%);
}

.main-components {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease 0.5s;
}

body.loaded .fade-in {
  opacity: 1;
}

.notifications {
  position: absolute;
  color: white;
  font-size: 12px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  margin-top: -20px;
}
