.main-components {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease 0.5s;

body.loaded .fade-in {
  opacity: 1;
}
