.screen {
  margin: 10px;
  display: inline-block;
}
.screen-row {
  display: inline-block;
}
.screen-element {
  float: left;
  width: 70px;
  margin: 5px;

}
.screen-button {
  font-size: 11px;
  padding: 3px;
  width: 100%;
  border: transparent 2px solid;
  height: 40px;
  border-radius: 5px;
}
.screen-button--on {
  border: green 2px solid;
}
