.controls-apps {
  display: block;
  height: 200px;
  margin: 0;
  position: relative;
}
.controls-apps-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  padding: 0;
  margin: 0;
}
.controls-apps-element {
  width: 70px;
  margin: 5px 5px 5px;
}
.controls-apps-button {
  background-color: transparent;
  font-size: 11px;
  width: 100%;
  border: gray 1px solid;
  height: 35px;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}
.controls-apps-button--img {
  background-color: transparent;
  border: none;
}
.controls-apps-img--button {
  width: 40px;
  position: absolute;
  left: 15px;
  top: -3px;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none; 
}
.controls-apps-span {
    color: white;
}
.controls-apps-button--on {
  border: white 1px solid;
  box-shadow: 0px 0px 10px white;
}
button.controls-apps-button:active {
  background-color: white;
  transition: background-color 0.1s;
}
