.notifications {
  position: fixed;
  top: 0;
  height: 5vh;
  width: 100%;
}
.notifications-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.notifications-row span{
  color: white;
  font-size: 12px;
}
