.controls-apps-youtube {
  height: 310px;
  position: relative;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  transform: translateY(40px);
}
.controls-apps-youtube--channel {
  transform: translateY(0px);

}
.controls-apps-youtube--search {

}
.controls-apps-youtube-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
.controls-apps-youtube-li-channel {
  height: 120px;
  padding: 0 5px 5px;
  list-style-type: none;
}
.controls-apps-youtube-li-search {
  height: 120px;
  padding: 0 5px 5px;
  list-style-type: none;
}
.controls-apps-youtube-channel-img {
  width: 50px;
}
.controls-apps-youtube-video-img {
  width: 100px;
}
.controls-apps-youtube-video-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}
.controls-apps-youtube-channel-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}
@keyframes flashing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.controls-apps-youtube-video-button--selected {
  animation: flashing 2s ease-in-out infinite;
}
.controls-apps-youtube-video-title,
.controls-apps-youtube-channel-title,
.controls-apps-youtube-video-duration {
  padding: 3px 0 0;
  margin: 0;
  width: 100px;
  font-size: 11px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.controls-apps-youtube-video-duration {
  font-size: 12px;
}
button.controls-apps-youtube-video-button:active {
  background-color: white;
  transition: background-color 0.1s;
}
