.controls-apps-youtube-video-img {
  width: 12vh;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}

.controls-apps-youtube-video-img--queue {
  outline: 1.5px solid #ffffff;
}

.controls-apps-youtube-video-queue-number {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  text-shadow: -1px -1px 10px #000, 1px -1px 10px #000, -1px 1px 10px #000, 1px 1px 10px #000, 0 -2px 5px #000, 0 2px 5px #000, -2px 0 5px #000, 2px 0 5px #000;
}

.controls-apps-youtube-video-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  position: relative;
}


@keyframes flashing {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.controls-apps-youtube-video-button--selected {
  animation: flashing 2s ease-in-out infinite;
}


.controls-apps-youtube-video-title,
.controls-apps-youtube-video-duration {
  padding: 0px 0 0;
  margin: 0 auto;
  width: 100px;
  font-size: 11px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #fff;
}

.controls-apps-youtube-video-duration {
  font-size: 12px;
  font-size: 12px;
  width: auto;
  margin: 0;
  padding-top: 2px;
}

button.controls-apps-youtube-video-button:active {
  background-color: white;
  transition: background-color 0.1s;
}

.controls-apps-youtube-save-channel-select {
  padding-top: 30px;
  width: 230px;
  margin: 0 auto;
}

.controls-apps-youtube-save-channel-select select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  background-color: rgb(71, 3, 3, 0.8);
  color: #fff;
}

.controls-apps-youtube-save-channel-input {
  padding-top: 20px;
  width: 230px;
  margin: 0 auto;
}

.controls-apps-youtube-save-channel-input input {
  color: #fff;
  height: 100%;
  border: none;
  box-shadow: inset 0 0 0 1px gray;
  border-radius: 5px;
  background-color: rgb(71, 3, 3, 0.8);
  padding: 0 0 0 5px;
  width: 100%;
  height: 25px;
  box-sizing: border-box;
}

.controls-apps-youtube-save-channel-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.controls-apps-youtube-save-channel-image {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.controls-apps-youtube-save-channel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls-apps-youtube-save-channel-image--selected {
  outline: 2px solid #fff;
}

.controls-apps-youtube-save-channel-button {
  padding-top: 20px;
  width: 230px;
  margin: 0 auto;
}

.controls-apps-youtube-save-channel-button button {
  background-color: rgb(71, 3, 3, 0.8);
  border: none;
  box-shadow: inset 0 0 0 1px gray;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  width: 100%;
}

.controls-apps-youtube-save-channel-buttons {
  padding-top: 20px;
  width: 230px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.controls-apps-youtube-save-channel-buttons button {
  background-color: rgb(71, 3, 3, 0.8);
  border: none;
  box-shadow: inset 0 0 0 1px gray;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  flex: 1;
}