.controls-levels {
    margin: 0 10px 10px;
    display: inline-block;
  }
  .controls-levels-row {
    display: inline-block;
    width: 240px;
  }
  .controls-levels-row--mute {
    height: 20px;
  }
  .controls-levels-element {
    float: left;
    width: 70px;
    margin: 5px;
  }
  .controls-levels-element--no-margin {
    margin: 0 5px 0;
  }
  .controls-levels-element--mute {
    margin-top: -2px;
  }
  .controls-levels-element--left {
    float: left;
  }
  .controls-levels-element--right {
    float: right;
  }
  .controls-levels-button {
    background-color: rgb(0, 44, 16, 0.8);
    font-size: 15px;
    padding: 3px;
    width: 100%;
    border: grey 1px solid;
    height: 35px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
  .controls-levels-button--img {
    background-color: transparent;
    border: none;
  }
  .controls-levels-img--no-button {
    width: 25px;
    transform: translate(0, 3px);
  }
  .controls-levels-img--button {
    width: 20px;
    margin-top: 5px;
  }
  .controls-levels-span {
      color: white
  }
  button.controls-levels-button:active {
    background-color: white;
    transition: background-color 0.1s;
  }
  
