.controls-apps-youtube-edit-video-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 15px 10px 0;
    width: 250px;
    margin: 0 auto;
}

.controls-apps-youtube-edit-title {
    color: white;
    font-size: 12px;
}