.controls-devices {
  height: 310px;
  position: relative;
  width: 100%;
  margin: 5px 0;
}
.controls-devices-ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.controls-device {
  height: 50px;
  padding: 0 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
}


.controls-device-luzcuarto-button {
  border: 2px solid transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}
.controls-device-luzcuarto-button--white {
  background-color: white;
}
.controls-device-luzcuarto-button--red {
  background-color: red;
}
@keyframes flashing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.controls-device-luzcuarto-button--selected {
  animation: flashing 2s ease-in-out infinite;
}
button.controls-device-luzcuarto-button:active {
  background-color: white;
  transition: background-color 0.1s;
}


.controls-device-youtube-channel-img {
  width: 50px;
}
.controls-device-youtube-video-img {
  width: 70px;
}
.controls-device-youtube-video-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}
.controls-device-youtube-channel-button {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
}
@keyframes flashing {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.controls-device-youtube-video-button--selected {
  animation: flashing 2s ease-in-out infinite;
}
button.controls-device-youtube-video-button:active {
  background-color: white;
  transition: background-color 0.1s;
}
