.credentials {
  margin: 0;
  text-align: center;
  padding-top: 40px;
}
.credentials-input {
  margin: 10px;
}
.credentials-button {
  margin: 10px;
}
.credentials-theme {
  padding-top: 20px;
}
.credentials-theme-label {
  color: white;
  padding-bottom: 10px;
}

  